@import '../../sass/variables'


.searchForm
  position: relative
  width: 100%
  max-width: 360px
  display: flex
  margin-bottom: $spacing-7xl

  .input
    width: 100%
    height: 48px
    border-radius: $radius-rounded
    border: solid 1px $border-color-primary
    padding: $spacing-sm $spacing-sm $spacing-sm $spacing-xl

  .buttonWrapper
    position: absolute
    top: $spacing-sm
    right: $spacing-sm